body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  border: 20px solid #d53b47;
  background-color: #2a282b;
  cursor: url(./Cursor/rotom2.png),auto;
}

header,nav {
  background-color: #d53b47;
  color: #fff;
  text-align: center;
  border: 10px solid #2a282b;
  border-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regional-dex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  
}

.dex-name{
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.dex-name:hover{
  color: #2a282b;
}

.main{
  background-color: #2a282b;
  padding-bottom: 10px;
}

.pokedex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 10px;
}

.pokemon {
  width: 19%;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: url(./Cursor/rotom1.png),auto;
}

.pokemon:hover{
  scale: 1.025;
  background-color: #2a282b;
  color: white;
  font-weight: 600;
}

.pokemon img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.pokemon p {
  margin: 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d53b47;
  border: 5px solid #212121;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1000;
  pointer-events: auto;
}

.popup-close {
  position: absolute;
  top: 220px;
  right: 0px;
  cursor: url(./Cursor/rotom1.png),auto;
  background-color:#212121;
  color: #fff;
  padding:15px;
  height:20px;
  width:55px;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 45%;
  border-bottom-left-radius:45%;
}

.popup-close:hover {
  color: #c6e6e4;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #212121;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding: 10px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.popup-image {
  width: 180px;
  height: 180px;
  background-color: #f9f9f9;
  border-radius: 10%;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcdcdc;
  border-radius: 5px;
  border: 5px solid #212121;
  padding: 10px;
}

.popup-type {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}

.popup-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 325px;
  margin-top: 5px;
  border: 5px solid #212121;
  border-radius: 5px;
  padding:10px;
  background-color: #dcdcdc;
}

.dpad-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.button-group{
  display: flex;
  flex-direction: column;
}

.pop-end-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-prev-button,.popup-next-button{
  cursor: url(./Cursor/rotom1.png),auto;
  background-color:#212121;
  color: #fff;
  padding:10px;
  height:15px;
  width:45px;
  font-size: 12px;
  text-align: center;
  border-radius: 10%;
  border: 2px solid #dcdcdc;
  font-weight: 400;
}

.stats-button,.abilities-button,.moves-button,.shiny-button{
  cursor: url(./Cursor/rotom1.png),auto;
  background-color:#212121;
  color: #fff;
  padding:10px;
  height:35px;
  width:35px;
  font-size: 9px;
  text-align: center;
  border-radius: 10%;
  border: 2px ridge #dcdcdc;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-button{
  border-top-left-radius: 100%;
  align-items: end;
}

.abilities-button{
  border-top-right-radius: 100%;
  align-items: end;
}

.moves-button{
  border-bottom-left-radius: 100%;
  align-items: start;
}

.shiny-button{
  border-bottom-right-radius: 100%;
  align-items: start;
}


.popup-prev-button:hover,.popup-next-button:hover,.stats-button:hover,.abilities-button:hover,.moves-button:hover,.shiny-button:hover{
  color: #c6e6e4;
}

.popup-body-info{
  height: 198px;
  width: 174px;
  background-color: #dcdcdc;
  border:3px solid #f9f9f9;
}

.popup-shiny-info{
  height: 198px;
  width: 174px;
  background-color: #dcdcdc;
  border:3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-moves-info{
  height: 200px;
  width: 176px;
  background-color: #dcdcdc;
  border:3px solid #f9f9f9;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  zoom: 99.6%;
}

.popup-moves-info::-webkit-scrollbar{
  display: none;
}

.popup-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 145px;
  width: 145px;
  font-weight: 600;
  font-size: 14px;
}

.popup-stats {
  width: 174px;
  background-color: #f9f9f9;
  border:3px solid #f9f9f9;
}

.popup-stats-header {
  background-color: #d53b47;
  color: #f9f9f9;
  padding: 5px;
  text-align: center;
  border: 2px solid #dcdcdc;
  font-size: 14px;
  font-weight: 600;
}

.ability-header{
  background-color: #d53b47;
  color: #f9f9f9;
  padding: 5px;
  text-align: center;
  border: 2px solid #dcdcdc;
  font-size: 14px;
  font-weight: 600;
}

.moves-header{
  background-color: #d53b47;
  color: #f9f9f9;
  padding: 5.5px;
  text-align: center;
  border: 2.5px solid #dcdcdc;
  font-size: 14px;
  font-weight: 600;
}

.ability-item{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9f9f9;
  padding:2px;
  border: 2px solid #dcdcdc;
  font-size: 12px;
  color: #2c2b2b;
  font-weight: 600;
  height:48px;
}

.ability-item-one{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9f9f9;
  padding:2px;
  border: 2px solid #dcdcdc;
  font-size: 12px;
  color: #2c2b2b;
  font-weight: 600;
  height:160px;
}

.ability-item-two{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9f9f9;
  padding:2px;
  border: 2px solid #dcdcdc;
  font-size: 12px;
  color: #2c2b2b;
  font-weight: 600;
  height:76px;
}

.ability-name{
  font-size: 14px;
}

.popup-stats-item{
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding:2px;
  border: 2px solid #dcdcdc;
  font-size: 14px;
}

.popup-moves-item{
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding:2.5px;
  border: 2.5px solid #dcdcdc;
  font-size: 14px;
  
}


.popup-stats-item span, .popup-moves-item span {
  color: #2c2b2b;
  font-weight: 600;
}

.popup-type.bug {
  background-color: #92bc2c;
  color: #fff;
}

.popup-type.dark {
  background-color: #595761;
  color: #fff;
}

.popup-type.dragon {
  background-color: #0c69c8;
  color: #fff;
}

.popup-type.electric {
  background-color: #f2d94e;
  color: #000;
}

.popup-type.fairy {
  background-color: #ee90e6;
  color: #000;
}

.popup-type.fighting {
  background-color: #d3425f;
  color: #fff;
}

.popup-type.fire {
  background-color: #ff9c54;
  color: #fff;
}

.popup-type.flying {
  background-color: #a1bbec;
  color: #000;
}

.popup-type.ghost {
  background-color: #5f6dbc;
  color: #fff;
}

.popup-type.grass {
  background-color: #5fbd58;
  color: #000;
}

.popup-type.ground {
  background-color: #da7c4d;
  color: #fff;
}

.popup-type.ice {
  background-color: #75d0c1;
  color: #000;
}

.popup-type.normal {
  background-color: #a0a29f;
  color: #fff;
}

.popup-type.poison {
  background-color: #b763cf;
  color: #fff;
}

.popup-type.psychic {
  background-color: #fa8581;
  color: #000;
}

.popup-type.rock {
  background-color: #c9bb8a;
  color: #fff;
}

.popup-type.steel {
  background-color: #5695a3;
  color: #fff;
}

.popup-type.water {
  background-color: #539ddf;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .row {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .pokemon {
    width: 23%;
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }

  .pokemon {
    width: 25%;
    margin: 5px 10px 5px 0px;
  }

  
}

@media screen and (max-width: 480px) {
  .pokemon {
    width: 100%;
  }
}